*{
margin: 0;
padding: 0;
}
body {
	background-image:  url("casino.jpg") ;
	background-color: turquoise;
	
	font-family: sans-serif;
	font-size: 20px;
	box-sizing: border-box;
	overflow-x: hidden;

}
.img-background{
	position: absolute;
	
	z-index: 0;
}
.img-background img{
	width: 2100px;
	object-fit:cover;
}
.modal-inicio {
	background: #000a;
	width:209vh;
	height: 110%;
	position: absolute;
	margin: 0;
	padding:0;
z-index: 100;
	
}
.modal-datos {
	margin-left: 20%;
	margin-top: 10%;
	width: 45%;
	height: 45%;
	background: radial-gradient( circle, #0008 , #5cd6d5aa );
z-index: 80;
	text-align:center;
	color: white;
}
.modal-datos__texto {
padding-top: 50px;
font-size: 1.5em;
}
.modal-datos__texto p{
padding-top: 15px;
font-size: 25px;
}
#p-rebelde{
	padding:1em 4em;
	font-style: italic;
	font-size: 25px;
}
.modal-datos__button{
margin-top: 30px;
height: 50px;
width: 100px;
text-align: center;
font-size: 25px;
background:#5cd6d5;
color: white;
border:5px solid #8cbdd9;
transition: 0.21s background;
z-index: 100;
}

.modal-datos__button:hover{
	background:#1f7a7a;
	z-index: 80;
}
.jugador {
	z-index: 100;
	position:absolute;
	padding: 10px;
	right: 46%;
	top: 0.5em;
	font-size:3em;
	margin: auto;
	color: white;
	border: 15px solid #2c265ad0;
}

.container-flex {
	bottom: 450px;
	right:25%;
	display: flex;
	justify-content: center;
	position: absolute;
	z-index: 80;
}

.item-flex {
	
	width:250px;
	height:400px;
	color:white;
	border: 25px solid #2c265aee;
	border-radius: 7px;
	margin: 10px 50px;
	z-index: 80;
}.item-flex:hover {
	background:#5cd6d5aa;
	z-index: 80;
	
}
.item-flex-1{
	font-size: 3em;
text-align: center;
	display:none;
	animation: items 1s ease-in;
	animation-fill-mode:initial;
}
.item-flex-2{
	font-size: 3em;
	text-align: center;
	display:none;
	animation: items 1s ease-in;
	animation-fill-mode:initial;
}
.item-flex-3{
	font-size: 3em;
	text-align: center;
	display:none;
	animation: items 1s ease-in;
	animation-fill-mode:initial;
}

@keyframes items {

	100%{
	transform:translateY(-200px);
	opacity: .1;
	}
}