*{
margin: 0;
padding: 0;
}
body {
	background:#eee;
	font-family: sans-serif;
	font-size: 20px;
	box-sizing: border-box;
	overflow-x: hidden;

}
.img-background{
	position: absolute;
	
	z-index: 0;
}
.img-background img{
	width: 2100px;
	object-fit:cover;
}
.modal-inicio {
	background: #000a;
	width:209vh;
	height: 110%;
	position: absolute;
	margin: 0;
	padding:0;
z-index: 100;
	
}
.modal-datos {
	margin-left: 20%;
	margin-top: 10%;
	width: 45%;
	height: 45%;
	background: radial-gradient( circle, #0008 , #5cd6d5aa );
z-index: 80;
	text-align:center;
	color: white;
}
.modal-datos__texto {
padding-top: 50px;
font-size: 1.5em;
}
.modal-datos__texto p{
padding-top: 40px;
font-size: 25px;
}
.modal-datos__button{
margin-top: 50px;
height: 50px;
width: 100px;
text-align: center;
font-size: 25px;
background:#5cd6d5;
color: white;
border:5px solid #8cbdd9;
transition: 0.21s background;
z-index: 100;
}

.modal-datos__button:hover{
	background:#1f7a7a;
	z-index: 80;
}
.jugador {
	z-index: 80;
	margin: 50px;
}

.container-flex {
	bottom: 450px;
	right:25%;
	display: flex;
	justify-content: center;
	position: absolute;
	z-index: 80;
}

.item-flex {
	
	width:250px;
	height:400px;
	
	border: 25px solid #2c265aee;
	border-radius: 7px;
	margin: 10px 50px;
	transition: 0.1s background;
	z-index: 80;
}.item-flex:hover {
	background:#5cd6d5aa;
	z-index: 80;
	
}